h1 Welcome to HackathonChat
form(method="get" action="/invite")
  label Who would you like to chat with:
  input(type="hidden" name="number" value=number)
  input(type="text" name="call_number")
  input(type="submit" value="Next")